/**
!.gitignore
!readme.md
!/.config/**
!/Documents/
/Documents/**
!/Documents/PowerShell/
/Documents/PowerShell/**
!/Documents/PowerShell/Microsoft.PowerShell_profile.ps1
!/Documents/PowerShell/PSStarship.psm1